/* Set a black background for the entire page */
body {
    background-color: #000;
    color: #fff;
}




/* Custom styles for the buttons */
.my-button {
    font-weight: normal; /* Set the default font weight to normal */
    text-decoration: none; /* Remove underline */
    transition: font-weight 0.3s ease-in-out; /* Add a smooth transition effect for font weight */
    width: 100px; /* Set a fixed width for the buttons */
    text-align: center; /* Center the button text */
    color: #fff !important; /* Set the text color to white */
    margin-right: 10px; /* Add some space between the buttons */
}

/* Hover effect to make the text bold */
.my-button:hover {
    font-weight: bold; /* Change font weight to bold on hover */
}

.container {
    gap: 0px; /* Adjust the value to control the gap size between flex items */
}

.song-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adjust the gap between boxes */
}

.box {
    flex: 0 0 calc(33.3333% - 20px); /* Adjust the width of each box */
    padding: 20px;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 5px 0;
}
h2 {
    font-size: 22px; /* Larger font size for headings */
    color: #D3D3D3; /* Text color similar to <p> */
    font-weight: bold; /* Make the text bold */
    margin-bottom: 20px; /* Add some space below the heading */
    text-align: left; /* Align the text to the left */
    max-width: 100%; /* Ensure the heading takes the full width */
    padding: 0px; /* Add padding to match the <p> style */
}

a {
    text-decoration: none; /* Remove underlines from links */
    color: #333; /* Set the default text color */
    font-weight: normal; /* Set normal font weight */
    transition: font-weight 0.3s ease, color 0.3s ease; /* Add a transition for font weight */
}

a:hover {
    font-weight: bold; /* Change font weight to bold on hover */
    color: #D3D3D3;
}

.play-button {
    text-decoration: none; /* Remove underlines from buttons */
    color: #333; /* Set the default text color */
    font-weight: normal; /* Set normal font weight */
    transition: font-weight 0.3s ease, color 0.3s ease; /* Add a transition for font weight */
    background: transparent;
    border: none;
    margin: 0px
}

.play-button:hover {
    font-weight: bold; /* Change font weight to bold on hover */
    color: #D3D3D3;
}


.music-text {
    text-align: center;
    margin-bottom: 20px; /* Adjust the margin to control spacing */
    color: #333; /* Set the text color */
    font-size: 18px; /* Set the font size */
    max-width: 60%; /* Set the maximum width you desire */
    margin-left: auto; /* Center the element horizontally */
    margin-right: auto; /* Center the element horizontally */
    transition: color 0.3s ease; /* Smooth transition for text color */
}

.music-text:hover {
    color: #D3D3D3; /* Change the text color to white on hover */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Responsive grid */
    gap: 100px; /* Adjust the gap between items */
    padding: 10%;
}

.grid-item {
    position: relative;
    overflow: hidden;
}

.grid-item img {
    max-width: 100%; /* Limit the image width to its container */
    max-height: 200px; /* Set a maximum height for the images */
    height: auto;
    transition: filter 0.3s ease; /* Smooth transition for hover effect */
}

.grid-item:hover img {
    filter: brightness(90%); /* Change the image brightness on hover */
}

.text-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Background color for text overlay */
    color: #333; /* Text color */
    padding: 10px;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for hover effect */
}

.grid-item:hover .text-overlay {
    background-color: rgba(0, 0, 0, 0.5); /* Change the background color on hover */
    color: #D3D3D3; /* Change the background color on hover */
}

.research-text {
    text-align: left;
    margin-bottom: 20px; /* Adjust the margin to control spacing */
    color: #D3D3D3; /* Change the text color to white on hover */
    font-size: 18px; /* Set the font size */
    max-width: 100%; /* Adjust the maximum width to leave space from both edges */
    padding: 20px; /* Add padding to create space between text and edges */
    margin-left: auto;
    margin-right: auto;
}
.center-gif {
            display: flex;
            justify-content: center;
            align-items: center;
        }


.menu-container {
    display: flex;
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent text from wrapping */
    padding-left: 5%;
    padding-right 5%;
    padding-top: 2%;
}

.menu-item {
    flex: 0 0 auto;
    position: relative;
    margin-right: 50px; /* Adjust the spacing between items */
    margin-left: 50px;
}

.menu-item img {
    max-width: 150px; /* Limit the image width to its container */
    max-height: 150px; /* Set a maximum height for the images */
    height: auto;
}

.menu-item p {
    text-align: center;
}


.canvas-container {
    display: flex;
    flex-direction: row;
    height: 80vh;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}


canvas {
    border: 2px solid white;
    margin-right: 10px;
}

/* Center the clear button under the doodle canvas */
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px; /* Adjust as needed to control the spacing */
}

button {
    /* Add any additional button styling here */
    margin: 10%;
}
.slider-clear-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-container {
  flex-grow: 1;
  text-align: center;
  margin-right = 100px !important;
}

.slider-container label {
  display: block;
}

.slider-container input[type="range"] {
  width: 100%;
}

/* Style for the "Clear" button (adjust as needed) */
#clearButton {
  padding: 5px 10px;
  background-color: #333; /* Example background color */
  color: #D3D3D3; /* Example text color */
  border: none;
  cursor: pointer;
}
/* For webkit-based browsers (Chrome, Safari) */
.slider-container input[type="range"]::-webkit-slider-thumb {
  background-color: #D3D3D3; /* Thumb color */
}

.slider-container input[type="range"]::-webkit-slider-runnable-track {
  background-color: #333; /* Track color */
}

/* For Firefox */
.slider-container input[type="range"]::-moz-range-thumb {
  background-color: #D3D3D3; /* Thumb color */
}

.slider-container input[type="range"]::-moz-range-track {
  background-color: #333; /* Track color */
}



/* Style the project grid */
.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns as needed */
  gap: 20px; /* Adjust the gap between items */
  margin: 20px; /* Add margin around the grid */
}

/* Style each project item */
.project-item {
  text-align: center;
}

.project-item img {
  max-width: 60%; /* Ensure images fit within their containers */
}

.project-item p {
  margin: 0;
  color: #333; /* Default text color */
  transition: color 0.3s, font-weight 0.3s; /* Transition for text color and font-weight */
}

/* Hover effect for project items */
.project-item:hover p {
  color: #D3D3D3; /* Text color on hover */
  font-weight: bold; /* Bold text on hover */
}

