/* Set a black background for the entire page */
body {
    background-color: #000;
    color: #fff;
}

/* Style the custom header with your JPEG image */
.custom-header {
    background-image: url('assets/banner.jpeg'); /* Replace 'your-header.jpg' with the path to your custom JPEG header image */
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 300px; /* Adjust the height as needed */
}

